.container {
  display: flex;
  gap: 20px;
}

.languageButton {
  width: 64px;
  height: 64px;
  border-radius: 5px;
  background-color: #f1f1f1;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.languageButton:focus {
  outline: none;
}

.languageIcon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.container {
  display: flex;
  gap: 20px;
  width: 100%; /* Ensure the container takes full width */
  flex-wrap: wrap; /* Allow the items to wrap to the next line if they don't fit */
}

